<launch>
  <include file="$(find realsense_ros_camera)/launch/rs_camera.launch"/>

  <include file="$(find hebiros)/launch/hebiros.launch"/>

  <include file="$(find hebiros_advanced_examples)/launch/mobile_robot/mobile_robot_controller.launch"/>

  <include file="$(find hebiros_advanced_examples)/launch/mobile_robot/mobile_robot_planner.launch"/>

  <include file="$(find hebiros_advanced_examples)/launch/mobile_robot/mobile_robot_rtabmap.launch"/>

  <node name="rviz" pkg="rviz" type="rviz"/>

</launch>
