<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <param name="TrajectoryPlannerROS/meter_scoring" value="true"/>
    <param name="TrajectoryPlannerROS/max_vel_x" value="0.1"/>
    <param name="TrajectoryPlannerROS/min_in_place_vel_theta" value="0.5"/>
    <param name="TrajectoryPlannerROS/max_vel_theta" value="0.7"/>
    <param name="TrajectoryPlannerROS/min_vel_theta" value="-0.7"/>

    <param name="global_costmap/footprint" value="[[0.2,0],[0.1,0.1],[-0.1,0.1],[-0.1,-0.1],[0.1,-0.1]]"/>
    <param name="global_costmap/origin_x" value="-25.0"/>
    <param name="global_costmap/origin_y" value="-25.0"/>
    <param name="global_costmap/height" value="50.0"/>
    <param name="global_costmap/width" value="50.0"/>

    <param name="local_costmap/footprint" value="[[0.2,0],[0.1,0.1],[-0.1,0.1],[-0.1,-0.1],[0.1,-0.1]]"/>
    <param name="local_costmap/origin_x" value="-25.0"/>
    <param name="local_costmap/origin_y" value="-25.0"/>
    <param name="local_costmap/height" value="50.0"/>
    <param name="local_costmap/width" value="50.0"/>
  </node>
</launch>
