<launch>

  <arg name="set_base_frame" default="base_footprint"/>
  <arg name="set_odom_frame" default="odom"/>
  <arg name="set_map_frame"  default="map"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>


  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    
    <param name="ignore_timestamp" value="false"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hebiros_advanced_examples)/rviz/rosie_gazebo_model.rviz"/>


  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find hebiros_description)/urdf/rosie.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model rosie -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

  
</launch>
