<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- NOTE: joint must match the name of the module -->
  <xacro:macro name="leg" params="leg mod1 mod2 mod3">
    <xacro:rotary_module joint="${mod1}" child="${mod2}"/>
    <xacro:rotary_module joint="${mod2}" child="extender|${leg}"/>
    <xacro:extension_module name="extender|${leg}" child="${mod3}" length="0.05" twist="${PI/2}"/>
    <xacro:rotary_module joint="${mod3}" child="elbow|${leg}"/>
    <xacro:elbow_module_snake_monster name="elbow|${leg}" child="foot|${leg}"
      length1="0.0191" twist1="${PI}" length2="0.1206" twist2="${-PI/2}"/>
    <!--TODO: foot! visualize? -->
    <link name="foot|${leg}|INPUT_INTERFACE" />
  </xacro:macro>
</robot>

