<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- define macros for colors: -->
  <xacro:macro name="red_material">
    <material name="red">
      <color rgba=".82 0.06 0.06 1"/>
    </material>
  </xacro:macro>
  <xacro:macro name="silver_material">
    <material name="silver">
      <color rgba="0.6 0.6 0.6 1"/>
    </material>
  </xacro:macro>
  <xacro:macro name="black_material">
    <material name="black">
      <color rgba="0 0 0 1"/>
    </material>
  </xacro:macro>

  <!-- define collar element macro -->
  <xacro:macro name="collar" params="parent">
    <link name="${parent}|COLLAR">
      <visual>
        <origin xyz="0 0 0.005" rpy="0 0 0" />
        <geometry>
          <cylinder radius="0.026" length="0.01"/>
        </geometry>
        <xacro:black_material/>
      </visual>
    </link>
    <joint name="${parent}|COLLAR_JOINT" type="fixed">
      <parent link="${parent}"/>
      <child link="${parent}|COLLAR"/>
    </joint>
  </xacro:macro>
</robot>
