<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="x_shoulder_bracket"
               params="name child">
  <link name="${name}/INPUT_INTERFACE">
    <visual>
      <origin xyz="0 0 0.00635" rpy="0 0 0"/>
      <geometry>
        <box size=".0508 .0762 0.0127"/>
      </geometry>
      <xacro:silver_material/>
    </visual>
    <visual>
      <origin xyz="0 -.0305 .0425" rpy="1.57075 0 3.14157"/>
      <geometry>
        <mesh filename="package://hebiros/meshes/x_shoulder.stl"/>
      </geometry>
      <xacro:silver_material/>
    </visual>
    <collision>
      <origin xyz="0 0 0.00635" rpy="0 0 0"/>
      <geometry>
        <box size=".0508 .0762 0.0127"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 -.0305 .0425" rpy="1.57075 0 3.14157"/>
      <geometry>
        <mesh filename="package://hebi/meshes/x_shoulder.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0.00635" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <inertial>
      <origin xyz="0 -.0305 .0425" rpy="1.57075 0 3.14157"/>
      <mass value="1.0"/>
      <inertia ixx="0.215" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
  </link>
  <joint name="${name}/OUTPUT_INTERFACE" type="fixed">
    <parent link="${name}/INPUT_INTERFACE"/>
    <child link="${child}/INPUT_INTERFACE"/>
    <origin xyz="0 -.03685 .05715" rpy="-1.57075 0 0"/>
  </joint>
  <gazebo reference="${name}/INPUT_INTERFACE">
    <selfCollide>true</selfCollide>
  </gazebo>
  </xacro:macro>
</robot>
