<launch>
    <node name="hebiros_node" pkg="hebiros" type="hebiros_node" respawn="false" output="screen"/>

    <node pkg="hebiros_advanced_examples" type="omnibase_navstack" name="omnibase_navstack" output="screen"/>

    <node pkg="hebiros_advanced_examples" type="example_omnibase_free_roam" name="example_omnibase_free_roam" />

    <node pkg="hebiros_advanced_examples" type="ipad_controller.py" name="ipad" />

  </launch>
