<launch>
    <node name="hebiros_node" pkg="hebiros" type="hebiros_node" respawn="false" output="screen"/>

    <node pkg="hebiros_advanced_examples" type="omnibase_navstack" name="omnibase_navstack" output="screen"/>

    <node pkg="hebiros_advanced_examples" type="example_omnibase_free_roam" name="example_omnibase_free_roam" />

    <node pkg="hebiros_advanced_examples" type="key_read.py" name="key_read" />


    <!--node pkg="tf" type="static_transform_publisher" name="link4_broadcaster" args="0 0 0.2 0 0 0 base_link base_scan 100" /-->

    <!--node pkg="tf" type="static_transform_publisher" name="link4_broadcaster" args="0 0 -0.2 0 0 0 base_scan base_link 100" /-->

  </launch>
