<launch>

  <group ns="rtabmap">

   <node pkg="tf" type="static_transform_publisher"  name="base_to_camera"
      args="0.08 0 0.1 0 0 0 /base_link /camera_link 100"/>

    <node pkg="rtabmap_ros" type="rgbd_odometry" name="rgbd_odometry" output="screen">
      <remap from="rgb/image"       to="/camera/infra1/image_raw"/>
      <remap from="depth/image"     to="/camera/depth/image_raw"/>
      <remap from="rgb/camera_info" to="/camera/infra1/camera_info"/>

      <param name="frame_id" value="camera_link"/>
      <param name="Reg/Force3DoF" value="true"/>
    </node>

    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen">
      <remap from="odom" to="odom"/>
      <remap from="rgb/image" to="/camera/infra1/image_raw"/>
      <remap from="depth/image" to="/camera/depth/image_raw"/>
      <remap from="rgb/camera_info" to="/camera/infra1/camera_info"/>

      <param name="frame_id" value="camera_link"/>
      <param name="subscribe_depth" value="true"/>
      <param name="queue_size" value="10"/>
      <param name="Reg/Force3DoF" value="true"/>
      <param name="Optimizer/Slam2D" value="true"/>
    </node>

    <node pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" output="screen">
      <remap from="rgb/image"       to="/camera/infra1/image_raw"/>
      <remap from="depth/image"     to="/camera/depth/image_raw"/>
      <remap from="rgb/camera_info" to="/camera/infra1/camera_info"/>
    </node>

  </group>
</launch>
