<launch>
  <param name="robot_description" command="cat $(find hebiros)/urdf/x_demo.urdf"/>

  <node name="example_gazebo_node" pkg="hebiros" type="example_gazebo_node"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/hebiros/x_demo" args="HEBI/base/controller HEBI/shoulder/controller HEBI/elbow/controller joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/hebiros/x_demo/joint_states"/>
  </node>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find hebiros)/urdf/x_demo.urdf -urdf -z 1 -model x_demo"/>

</launch>
