<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hebi_arm">

  <!-- *************************** XACRO MACROS *************************** -->

  <xacro:property name="PI" value="3.1415926535897931" />

  <!-- load macros for modules -->
  <xacro:include filename="./x_series_common.xacro"/>
  <xacro:include filename="./x5.xacro"/>
  <xacro:include filename="./x_shoulder_bracket.xacro"/>
  <xacro:include filename="./x_wrist_bracket.xacro"/>
  <xacro:include filename="./x_tube_link.xacro"/>

  <!-- ************************* ROBOT DEFINITION ************************* -->

  <!-- just for visualization: base post -->
  <link name="base">
    <visual>
      <origin xyz=".125 0 -.0254" rpy="0 0 0" />
      <geometry>
        <box size="0.25 0.5 0.0508" />
      </geometry>
      <xacro:silver_material/>
    </visual>
  </link>
  <joint name="base-base" type="fixed">
    <parent link="base"/>
    <child link="base|arm|INPUT_INTERFACE"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- joints -->
  <xacro:x5 joint="base|arm" child="shoulder-bracket"/>
  <xacro:x_shoulder_bracket name="shoulder-bracket" child="shoulder|arm"/>
  <xacro:x5 joint="shoulder|arm" child="shoulder-elbow"/>
  <xacro:x_tube_link name="shoulder-elbow" child="elbow|arm" length="0.3302" twist="0"/>
  <xacro:x5 joint="elbow|arm" child="elbow-wrist"/>
  <xacro:x_tube_link name="elbow-wrist" child="wrist|arm" length="0.2667" twist="0"/>
  <xacro:x5 joint="wrist|arm" child="wrist-hand"/>
  <xacro:x_wrist_bracket name="wrist-hand" child="hand|arm"/>
  <xacro:x5 joint="hand|arm" child="end_effector"/>
-->
  <!-- test child...TODO CHANGE -->
  <link name="end_effector|INPUT_INTERFACE">
    <visual>
      <origin xyz="0 0 0.023" rpy="0 0 0" />
      <geometry>
        <box size="0.0508 0.0508 0.0508" />
      </geometry>
      <xacro:silver_material/>
    </visual>
  </link>

</robot>
