<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arm_demo">

  <!-- *************************** XACRO MACROS *************************** -->

  <xacro:property name="PI" value="3.1415926535897931" />

  <!-- load macros for modules -->
  <xacro:include filename="./x_series_common.xacro"/>
  <xacro:include filename="./x5.xacro"/>
  <xacro:include filename="./x_shoulder_bracket.xacro"/>
  <xacro:include filename="./x_wrist_bracket.xacro"/>
  <xacro:include filename="./x_tube_link.xacro"/>

  <!-- ************************* ROBOT DEFINITION ************************* -->

  <link name="world" />
  <joint name="world_joint"  type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="world"/>
    <child link="base"/>
  </joint>

  <!-- just for visualization: base post -->
  <link name="base">
    <visual>
      <origin xyz=".125 0 -.0254" rpy="0 0 0" />
      <geometry>
        <box size="0.25 0.5 0.0508" />
      </geometry>
      <xacro:silver_material/>
    </visual>
    <collision>
      <origin xyz=".125 0 -.0254" rpy="0 0 0" />
      <geometry>
        <box size="0.25 0.5 0.0508" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz=".125 0 -.0254" rpy="0 0 0" />
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
  </link>
  <joint name="base_base" type="fixed">
    <parent link="base"/>
    <child link="HEBI/base/INPUT_INTERFACE"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- joints -->
  <xacro:x5 joint="HEBI/base" child="base_end" model="X5-4"/>
  <xacro:x_tube_link name="base_end" child="end_effector" length="0.33" twist="0"/>

  <!-- end link -->
  <link name="end_effector/INPUT_INTERFACE">
  </link>

  <gazebo reference="base">
    <selfCollide>true</selfCollide>
  </gazebo>
  <gazebo>
    <plugin filename="libhebiros_gazebo_plugin.so" name="hebiros_gazebo_plugin">
    </plugin>
  </gazebo>

</robot>
