<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="4_dof_arm">

  <!-- *************************** XACRO MACROS *************************** -->

  <xacro:include filename="./x_library.xacro"/>

  <!-- ************************* ROBOT DEFINITION ************************* -->

  <!-- world link -->
  <link name="world" />
  <joint name="world_joint"  type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="world"/>
    <child link="HEBI/joint1/INPUT_INTERFACE"/>
  </joint>

  <!-- component links -->
  <xacro:x5 joint="HEBI/joint1" child="joint1_joint2" model="X5_4"/>
  <xacro:x5_heavy_right_outside_bracket name="joint1_joint2" child="HEBI/joint2"/>
  <xacro:x5 joint="HEBI/joint2" child="joint2_joint3" model="X5_4"/>
  <xacro:x_tube_link name="joint2_joint3" child="HEBI/joint3" extension="0.3" twist="${PI}"/>
  <xacro:x5 joint="HEBI/joint3" child="joint3_joint4" model="X5_4"/>
  <xacro:x_tube_link name="joint3_joint4" child="HEBI/joint4" extension="0.3" twist="${PI}"/>
  <xacro:x5 joint="HEBI/joint4" child="joint4_end" model="X5_4"/>
  <xacro:x_tube_link name="joint4_end" child="end_effector" extension="0.15" twist="${PI}"/>

  <!-- end link -->
  <link name="end_effector/INPUT_INTERFACE">
  </link>


  <gazebo>
    <plugin filename="libhebiros_gazebo_plugin.so" name="hebiros_gazebo_plugin">
    </plugin>
  </gazebo>

</robot>
