<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="PI" value="3.1415926535897931" />

  <xacro:include filename="./x_series_common.xacro"/>
  <xacro:include filename="./x5.xacro"/>
  <xacro:include filename="./x8.xacro"/>
  <xacro:include filename="./x5_light_left_bracket.xacro"/>
  <xacro:include filename="./x5_light_right_bracket.xacro"/>
  <xacro:include filename="./x5_heavy_left_outside_bracket.xacro"/>
  <xacro:include filename="./x5_heavy_left_inside_bracket.xacro"/>
  <xacro:include filename="./x5_heavy_right_outside_bracket.xacro"/>
  <xacro:include filename="./x5_heavy_right_inside_bracket.xacro"/>
  <xacro:include filename="./x_tube_link.xacro"/>

</robot>
