<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- define macros for colors: -->
  <xacro:macro name="red_material">
    <material name="red">
      <color rgba=".82 0.06 0.06 1"/>
    </material>
  </xacro:macro>
  <xacro:macro name="silver_material">
    <material name="silver">
      <color rgba="0.6 0.6 0.6 1"/>
    </material>
  </xacro:macro>
  <xacro:macro name="black_material">
    <material name="black">
      <color rgba="0 0 0 1"/>
    </material>
  </xacro:macro>
  <xacro:macro name="beige_material">
    <material name="beige">
      <color rgba="0.96 0.945 0.871 1"/>
    </material>
  </xacro:macro>
</robot>

