<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- NOTE: joint must match the name of the module -->
  <xacro:macro name="x_tube_link" params="name child extension twist">
    <xacro:property name="mass" value="${0.4 * (extension + 0.03) + 0.26}"/>
    <xacro:property name="edge_to_center" value="${.02}"/>
    <link name="${name}/INPUT_INTERFACE">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://hebiros_description/meshes/A-2038-02.stl"/>
        </geometry>
        <xacro:black_material/>
      </visual>
      <visual>
        <origin xyz="${extension/2} 0 ${edge_to_center}" rpy="0 1.57075 0" />
        <geometry>
          <cylinder length="${extension-.0254}" radius=".016" />
        </geometry>
        <xacro:silver_material/>
      </visual>
      <visual>
        <origin xyz="${extension} ${sin(-twist) * edge_to_center} ${edge_to_center * (1 + cos(-twist))}" rpy="${-twist} 0 0"/>
        <geometry>
          <mesh filename="package://hebiros_description/meshes/A-2039-02.stl"/>
        </geometry>
        <xacro:black_material/>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://hebiros_description/meshes/A-2038-02.stl"/>
        </geometry>
      </collision>
      <collision>
        <origin xyz="${extension/2} 0 ${edge_to_center}" rpy="0 1.57075 0" />
        <geometry>
          <cylinder length="${extension-.0254}" radius=".016" />
        </geometry>
      </collision>
      <collision>
        <origin xyz="${extension} ${sin(-twist) * edge_to_center} ${edge_to_center * (1 + cos(-twist))}" rpy="${-twist} 0 0"/>
        <geometry>
          <mesh filename="package://hebiros_description/meshes/A-2039-02.stl"/>
        </geometry>
      </collision>

      <!-- Approximate inertia as thin rod about x axis -->
      <inertial>
        <origin xyz="${extension/2} 0 ${edge_to_center}" rpy="0 0 0" />
        <mass value="${mass}"/>
        <inertia  ixx="0.0" ixy="0.0"  ixz="0.0"  iyy="${mass * extension * extension / 12.0}"  iyz="0.0"  izz="${mass * extension * extension / 12.0}"/>
      </inertial>
    </link>
    <joint name="${name}/OUTPUT_JOINT" type="fixed">
      <parent link="${name}/INPUT_INTERFACE"/>
      <child link="${child}/INPUT_INTERFACE"/>
      <origin xyz="${extension} ${-sin(twist) * edge_to_center} ${edge_to_center * (1 + cos(twist))}" rpy="${twist} 0 0"/>
    </joint>
    <gazebo reference="${name}/INPUT_INTERFACE">
      <selfCollide>true</selfCollide>
    </gazebo> 
  </xacro:macro>
</robot>

